<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587406730073-7ld5gbf1c053uvdb4i9kji9buh3llh95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587406730073-7ld5gbf1c053uvdb4i9kji9buh3llh95</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587406730073-mktsrm3oa1okbadhevhut2krpl31d93h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2HNkgJwLPnOWQRTLggo1Ja7YArWxLa2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>587406730073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JGM.poljjak</string>
	<key>PROJECT_ID</key>
	<string>poljjak-6ebe6</string>
	<key>STORAGE_BUCKET</key>
	<string>poljjak-6ebe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587406730073:ios:08ffe791a4b4c1c501e248</string>
	<key>DATABASE_URL</key>
	<string>https://poljjak-6ebe6-default-rtdb.firebaseio.com</string>
</dict>
</plist>