<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuKAXrDuzyq9tf0ciyf9vLC6mhWcBemvg</string>
	<key>GCM_SENDER_ID</key>
	<string>349635364609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JGM.poljjak</string>
	<key>PROJECT_ID</key>
	<string>poljjak-839f1</string>
	<key>STORAGE_BUCKET</key>
	<string>poljjak-839f1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349635364609:ios:725a01982bf3caa1e47d00</string>
</dict>
</plist>